button
{
    width: 90px;
    height: 34px;
    background: #609FD9;
    border-radius: 10px;
    color: white;
    font-family: "ReemKufiRegular";
    vertical-align: middle;
}


@media (min-width: 2000px) {
    button
    {
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
}